{{$hosts := lsdir "/hosts/es_node/"}}

*:9200
proxy / {{range $host := $hosts}}{{$hostip := printf "/hosts/es_node/%s/ip" $host}} {{getv $hostip}}:9200 {{end}} {
    policy uri_hash
    health_check /
    health_check_timeout 5s
    transparent
}

