{
    "name": {{cluster.name}},
    "description": {{cluster.description}},
    "vxnet": {{cluster.vxnet}},
    "nodes": [{
        "container": {
            "type": "docker",
            "image": "dockerhub.qingcloud.com/hevienzdong/elasticsearch:5.5.0"
        },
        "count": {{cluster.es_node.count}},
        "cpu": {{cluster.es_node.cpu}},
        "memory": {{cluster.es_node.memory}},
        "instance_class": {{cluster.es_node.instance_class}},
        "volume": {
            "size": {{cluster.es_node.volume_size}}
        },
        "services": {
            "start": {
                "cmd": "elasticsearch-start.sh"
            },
            "stop": {
                "cmd": "elasticsearch-stop.sh"
            }
        },
        "advanced_actions": ["change_vxnet", "scale_horizontal"],
        "vertical_scaling_policy": "sequential"
    }],
    "endpoints": {
        "rpc_port": {
            "port": 9300,
            "protocol": "tcp"
        },
        "http_port": {
            "port": 9200,
            "protocol": "http"
        }
    },
    "health_check": {
        "enable": true,
        "interval_sec": 60,
        "timeout_sec": 10,
        "action_timeout_sec": 30,
        "healthy_threshold": 2,
        "unhealthy_threshold": 2,
        "check_cmd": "curl http://localhost:9200/",
        "action_cmd": "elasticsearch-restart.sh"
    },
    "monitor": {
        "enable": true,
        "cmd": "elasticsearch-monitor.sh",
        "items": {
            "mode": {
                "unit": "",
                "value_type": "str",
                "statistics_type": "latest",
                "enums": ["L", "F", "S"]
            },
            "min": {
                "unit": "ms",
                "value_type": "int",
                "statistics_type": "min",
                "scale_factor_when_display": 1
            },
            "avg": {
                "unit": "ms",
                "value_type": "int",
                "statistics_type": "avg",
                "scale_factor_when_display": 1
            },
            "max": {
                "unit": "ms",
                "value_type": "int",
                "statistics_type": "max",
                "scale_factor_when_display": 1
            },
            "received": {
                "unit": "count",
                "value_type": "int",
                "statistics_type": "latest",
                "scale_factor_when_display": 1
            },
            "sent": {
                "unit": "count",
                "value_type": "int",
                "statistics_type": "latest",
                "scale_factor_when_display": 1
            },
            "active": {
                "unit": "count",
                "value_type": "int",
                "statistics_type": "latest",
                "scale_factor_when_display": 1
            },
            "outstanding": {
                "unit": "count",
                "value_type": "int",
                "statistics_type": "latest",
                "scale_factor_when_display": 1
            },
            "znode": {
                "unit": "znode_count",
                "value_type": "int",
                "statistics_type": "latest",
                "scale_factor_when_display": 1
            }
        },
        "groups": {
            "latency":  ["min", "avg", "max"],
            "throughput": ["received", "sent"],
            "connections": ["active", "outstanding"]
        },
        "display": ["mode", "latency", "throughput", "connections", "znode"],
        "alarm": ["avg"]
    }
}
