
input {
    {{ getv "/env/conf_content" }}
}

{{$hosts := lsdir "/hosts/es_node/"}}

output {
  elasticsearch { 
    hosts => [{{ range $index,$host := $hosts }}{{ $hostip := printf "/hosts/es_node/%s/ip" $host }}{{if $index}}, {{end}}"{{getv $hostip}}"{{end}}]
  }
}

