# ======================== Elasticsearch Configuration =========================
#
# NOTE: Elasticsearch comes with reasonable defaults for most settings.
#       Before you set out to tweak and tune the configuration, make sure you
#       understand what are you trying to accomplish and the consequences.
#
# The primary way of configuring a node is via this file. This template lists
# the most important settings you may want to configure for a production cluster.
#
# Please consult the documentation for further information on configuration options:
# https://www.elastic.co/guide/en/elasticsearch/reference/index.html
#
# ---------------------------------- Cluster -----------------------------------
#
# Use a descriptive name for your cluster:
#
cluster.name: {{getv "/cluster/cluster_id"}}
#
# ------------------------------------ Node ------------------------------------
#
# Use a descriptive name for the node:
#
node.name: {{getv "/cluster/cluster_id"}}-{{getv "/host/sid"}}
#
# Add custom attributes to the node:
#
#node.attr.rack: r1
#
# ----------------------------------- Paths ------------------------------------
#
# Path to directory where to store the data (separate multiple locations by comma):
#
path.data: /data/elasticsearch/data
#
# Path to log files:
#
path.logs: /data/elasticsearch/logs
#
# ----------------------------------- Memory -----------------------------------
#
# Lock the memory on startup:
#
bootstrap.memory_lock: true
#
# Make sure that the heap size is set to about half the memory available
# on the system and that the owner of the process is allowed to use this
# limit.
#
# Elasticsearch performs poorly when the system is swapping the memory.
#
# ---------------------------------- Network -----------------------------------
#
# Set the bind address to a specific IP (IPv4 or IPv6):
#
network.host: 0.0.0.0
#
# Set a custom port for HTTP:
#
http.port: 9200
#
# For more information, consult the network module documentation.
#
# --------------------------------- Discovery ----------------------------------
#
# Pass an initial list of hosts to perform discovery when new node is started:
# The default list of hosts is ["127.0.0.1", "[::1]"]
#
#discovery.zen.ping.unicast.hosts: ["host1", "host2"]
#
{{$hosts := lsdir "/hosts/es_node/"}}{{$cluster_size := len $hosts}}
discovery.zen.ping.unicast.hosts: [{{ range $host := $hosts }}{{ $hostip := printf "/hosts/es_node/%s/ip" $host }}{{getv $hostip}}, {{end}}]
#
# Prevent the "split brain" by configuring the majority of nodes (total number of master-eligible nodes / 2 + 1):
#
{{$minimum_master_nodes := printf "%d" (add (div $cluster_size 2) 1)}}
discovery.zen.minimum_master_nodes: {{$minimum_master_nodes}}
#
# For more information, consult the zen discovery module documentation.
#
# ---------------------------------- Gateway -----------------------------------
#
# Block initial recovery after a full cluster restart until N nodes are started:
#
gateway.recover_after_nodes: {{max (sub $cluster_size 2) $minimum_master_nodes}}
#
# For more information, consult the gateway module documentation.
#
# ---------------------------------- Various -----------------------------------
#
# Require explicit names when deleting indices:
#
action.destructive_requires_name: true


# Discovery Config
discovery.zen.no_master_block: {{ getv "/env/discovery.zen.no_master_block" }}


# Gateway Config
gateway.expected_nodes: {{$cluster_size}}
gateway.recover_after_time: {{ getv "/env/gateway.recover_after_time" }}


# HTTP Config
http.cors.enabled: {{ getv "/env/http.cors.enabled" }}
http.cors.allow-origin: "{{ getv "/env/http.cors.allow-origin" }}"
http.cors.allow-headers: X-Requested-With, Content-Type, Content-Length, Authorization


# Indices Config
indices.queries.cache.size: {{ getv "/env/indices.queries.cache.size" }}
indices.memory.index_buffer_size: {{ getv "/env/indices.memory.index_buffer_size" }}
indices.requests.cache.size: {{ getv "/env/indices.requests.cache.size" }}
indices.fielddata.cache.size: {{ getv "/env/indices.fielddata.cache.size" }}


# Script Config
script.inline: {{ getv "/env/script.inline" }}
script.stored: {{ getv "/env/script.stored" }}
script.file: {{ getv "/env/script.file" }}

script.aggs: {{ getv "/env/script.aggs" }}
script.search: {{ getv "/env/script.search" }}
script.update: {{ getv "/env/script.update" }}


discovery.zen.ping_timeout: 5s
discovery.zen.fd.ping_interval: 1s
discovery.zen.fd.ping_timeout: 30s
discovery.zen.fd.ping_retries: 3


# XPack Config
xpack.ml.enabled: {{ getv "/env/xpack.ml.enabled" }}
xpack.monitoring.enabled: {{ getv "/env/xpack.monitoring.enabled" }}

