#!/bin/bash

{{if eq (getv "/host/role") "kbn_node"}}

set -e

curl --connect-timeout 10 http://localhost:9200/
curl --connect-timeout 10 http://localhost:5601/

{{if eq (getv "/env/enable_elasticsearch_head") "true"}}
curl --connect-timeout 10 http://localhost:9100/
{{end}}

{{if eq (getv "/env/enable_elastichd") "true"}}
curl --connect-timeout 10 http://localhost:9800/
{{end}}

{{if eq (getv "/env/enable_cerebro") "true"}}
curl --connect-timeout 10 http://localhost:9000/
{{end}}

{{if eq (getv "/env/enable_elasticsearch_sql") "true"}}
curl --connect-timeout 10 http://localhost:8080/
{{end}}

{{end}}

