#!/usr/bin/env bash

{{if exists "/env/enable_elasticsearch_sql"}}

{{if eq (getv "/env/enable_elasticsearch_sql") "true"}}

/opt/common/bin/start.sh elasticsearch-sql:v1.2.1 

{{else}}

/opt/common/bin/stop.sh elasticsearch-sql:v1.2.1

{{end}}

exit 0

{{end}}
